#page ul.yiiPager li.hidden a {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)" !important;
  filter:alpha(opacity=50) !important;
}
ul.yiiPager li.previous a,
ul.yiiPager li.next a,
ul.yiiPager li.first a,
ul.yiiPager li.last a {
  *-ie-xp: expression(this.parsed ? 0 : this.innerHTML = '&nbsp' + String.fromCharCode(59), this.parsed = 1);
}

ul.yiiPager li.previous a,
ul.yiiPager li.next a {
   *text-indent: 0 !important;
   *padding: 0 !important;
   *font-size: 12px !important;
}

ul.yiiPager li.first a,
ul.yiiPager li.last a {
   *text-indent: 0 !important;
   *padding: 0 4px 0 0 !important;
   *font-size: 12px !important;
}

span.rating, 
span.rating span,
span.price, 
span.price span,
#head h1 a {
   text-indent: -1000em;
}

#school_state,
#school_id {
   *position: relative;
   *top: 8px;
}

ul.reviews dl.ratings {
   *width: 200px;
}
